body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  text-transform: capitalize;
}

.navbar {
  background-color: #3498db;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  text-align: center;
}

.logo {
  display: inline-block;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

#login-btn, #register-btn {
  background-color: #2ecc71;
  margin: 0 5px;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#logout-btn {
  background-color: #dc3545;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#logout-btn:hover {
  background-color: #dc3546c3;
}

.username-span
{
  color: white;
  text-decoration: underline;
  margin: 0 10px;
  cursor: pointer;
}
  
  .chat-container {
    margin: auto;
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .message-holder {
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
    height: 700px;

  }
  
  .message {
    background-color: #dcf8c6;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 10px;
    max-width: 70%; /* Adjust as needed */
  }
  
  .sender {
    font-weight: bold;
    color: #128c7e;
  }
  
  .timestamp {
    font-size: 0.8em;
    color: #555;
    margin-top: 4px;
  }
  
  .content {
    margin-top: 6px;
    color: #333;
  }
  
  .input-container {
    display: flex;
    padding: 10px;
  }
  
  input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  button {
    background-color: #25d366;
    color: #fff;
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
  }
  